.container-fluid {
    padding: 0;
}

.jumbotron {
    background-color: #1a1aff;
    color: white;
}

.people .card {
    margin: 20px 0;
    text-transform: capitalize;
}

.people .card-header{
    background-color: #1a1aff;
    color: white;
}

.people li {
    margin: 5px 0;
}

.pages ul {
    margin: 0 auto;
    list-style-type: none;
    text-align: center;
    padding: 0;
}

.pages li {
    margin: 10px 5px;
    display: inline;
}

.pages a.btn {
    font-size: 20px;
}